@import "compass/css3"; /* cross-browser css3 schemes */
@import "components/shared/fonts";


@mixin filter($type, $value) {
    /*
    filter: #{$type}(#{$value});
    -webkit-filter: #{$type}(#{$value});
    -moz-filter: #{$type}(#{$value});
    -ms-filter: #{$type}(#{$value});
    -o-filter: #{$type}(#{$value});
    */
    filter: saturate($value);
    -webkit-filter: saturate($value);
    -moz-filter: saturate($value);
    -ms-filter: saturate($value);
    -o-filter: saturate($value);
}

@function remove-unit($value) {
    @if (unit($value) == "px") { @return $value / 1px; }
    @elseif (unit($value) == "pt") { @return $value / 1pt; }
    @elseif (unit($value) == "em") { @return $value / 1em; }
    @elseif (unit($value) == "%") { @return $value / 1%; }
    @return $value;
}

@mixin shape-shadow($h, $v, $blur, $spread, $color) {
    @include box-shadow($h $v $blur $spread $color);

    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX = remove-unit($h), OffY = remove-unit($v), Strength = remove-unit($blur), Color = lighten($color, 100%));
}

@mixin rounded-two-corners($size) {
    @include border-radius($size 0px $size 0px / $size 0px $size 0px);
}

@mixin IE-filter-glow($blur, $color) {
    zoom: 1;

    filter: progid:DXImageTransform.Microsoft.Shadow(Color = lighten($color, 100%), Strength = remove-unit($blur), Direction = 0),
            progid:DXImageTransform.Microsoft.Shadow(Color = lighten($color, 100%), Strength = remove-unit($blur), Direction = 90),
            progid:DXImageTransform.Microsoft.Shadow(Color = lighten($color, 100%), Strength = remove-unit($blur), Direction = 180),
            progid:DXImageTransform.Microsoft.Shadow(Color = lighten($color, 100%), Strength = remove-unit($blur), Direction = 270);
}

@mixin shape-glow($blur, $spread, $color) {
    @include box-shadow(0 0 $blur $spread $color);
    @include IE-filter-glow($blur, $color);
}

@mixin transition($value) {
	transition: $value;
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
}

@mixin user-select($value) {
    user-select: $value;
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
 	-o-user-select: $value;
}

@mixin shape-circle($radius, $border) {
    width: 2 * $radius;
    height: 2* $radius;
    @include border-radius($radius + $border);
}