@import 'reset';

/*  HEADINGS  ============================================================================= */
h1, h2, h3, h4, h5, h6 {
  font-weight : normal;
  margin-top: 0px;
  letter-spacing: 1px;
}

h1 { 
  margin-top : .2em;
  margin-bottom : .1em;
  font-size : 4em; /* 96 / 16 */
  line-height : 1em;
}

h2 { 
  margin-bottom : .2em;
  font-size : 3em; /* 40 / 16 */
  line-height : 1em;
}

h3 { 
  margin-bottom : 0.3em; 
  font-size : 1.5em; /* 28 / 16 */
  line-height : 1.3; 
}

h4 { 
  margin-bottom : 0.5em;
  font-size : 1.5em; /* 24 / 16  */
  line-height : 1.25; 
}

footer h4 { 
  color: #ccc;
}

h5 { 
  margin-bottom : 1.25em;
  font-size : 1em; /* 20 / 16 */ 
}

h6 { 
  font-size : 1em; /* 16 / 16  */ 
}

/*  TYPOGRAPHY  ============================================================================= */
p, ol, ul, dl, address { 
  margin-bottom : 1.5em; 
  font-size : 1em; /* 16 / 16 = 1 */ 
}

p, span {
  hyphens : auto;  
}

p.introtext {
  font-size : 2.5em; /* 40 / 16 */
  
  line-height: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 0.5em;
}

p.handwritten {
  font-size: 1.1em; /* 24 / 16 */
  line-height: 1.4em;
  margin: 0.8em 0 0 0;
  color: rgb(250,220,190);
  text-indent: 50px;
  padding-right: 20px;
  
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

span.quote-author {
  text-align: right;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 0 !important;
  &:before {
    content: '- ';
  }
}

p.center {
  text-align: center;
}

.and {
  font-size: 1.5em; /* 24 / 16 */
}

.heart {
  font-family: Pictos;
  font-size: 1.5em; /* 24 / 16 */
}

ul, 
ol { 
  margin : 0 0 1.5em 0; 
  padding : 0 0 0 24px; 
}

li ul, 
li ol { 
  margin : 0;
  font-size : 1em; /* 16 / 16 = 1 */ 
}

dl, 
dd { 
  margin-bottom : 1.5em; 
}

dt { 
  font-weight : normal; 
}

b, strong { 
  font-weight : bold; 
}

hr { 
  display : block; 
  margin : 1em 0; 
  padding : 0;
  height : 1px; 
  border : 0; 
  border-top : 1px solid #ccc;
}

small { 
  font-size : 1em; /* 16 / 16 = 1 */ 
}

sub, sup { 
  font-size : 75%; 
  line-height : 0; 
  position : relative; 
  vertical-align : baseline; 
}

sup { 
  top : -.5em; 
}

sub { 
  bottom : -.25em; 
}

.subtext {
  color: #666;
}

/* IMAGES ============================================================================= */
img {
  border : 0;
  max-width: 100%;
}

img.floatleft { float: left; margin: 0 10px 0 0; }
img.floatright { float: right; margin: 0 0 0 10px; }

/* TABLES ============================================================================= */
table { 
  border-collapse : collapse;
  border-spacing : 0;
  margin-bottom : 1.4em; 
  width : 100%; 
}

th, td, caption { 
  padding : .25em 10px .25em 5px; 
}

tfoot { 
  font-style : italic; 
}

caption { 
  background-color : transparent; 
}

/* FORMS ============================================================================= */
form { 
  margin : 0; 
}

fieldset { 
  margin-bottom : 1.5em; 
  padding : 0; 
  border-width : 0; 
}

legend { 
  *margin-left : -7px; 
  padding : 0; 
  border-width : 0; 
}

label{
  font-weight : normal;
  cursor : pointer;
  display:block;
  margin:10px 0 0 0;
  position:relative;
  top:0;
  left:0;
  
  .inline{
    display:inline;
    margin:0;
  }
  
  span{
    color:#666;
    font-size:0.9em;
  }
  
  span.right{
    position:absolute;
    bottom:0;
    right:1em;
    text-align:right;
  }
  
  .disabled{
    color:#ccc;
  }
}

button, 
search,
input, 
select, 
textarea { 
  font-size : 100%; 
  margin : 0; 
  vertical-align : baseline; 
  *vertical-align : middle; 
}

button, input { 
  line-height : normal; 
  *overflow : visible; 
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
  padding: 0.5em 1em;
  margin: 0 0 1em 0;
  cursor : pointer; 
  text-shadow:0 1px 0 #fff;
}

input[type="checkbox"], 
input[type="radio"] { 
  box-sizing : border-box; 
}

input[type="search"] { 
  box-sizing : content-box;
}

button::-moz-focus-inner, 
input::-moz-focus-inner { 
  padding : 0;
  border : 0;  
}

input{
  display:block;
  width:97%;
  margin:0 0 20px 0;
  border:1px solid #ccc;
  font-size:1em;
  padding:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  background:#fff;
  -moz-box-shadow:inset 0px 0px 6px #ccc;
  -webkit-box-shadow:inset 0px 1px 6px #ccc;
  box-shadow:inset 0px 1px 6px #ccc;
}

  input::-webkit-input-placeholder,
  input:-moz-placeholder,
  .placeholder{
  color:#bbb;
  }
  
  input::-moz-focus-inner {border:0;}

  input[disabled="disabled"], input.disabled{
  color:#999;
  background:#f5f5f5;
  -moz-box-shadow:inset 0px 0px 2px #ddd;
  -webkit-box-shadow:inset 0px 1px 2px #ddd;
  box-shadow:inset 0px 1px 2px #ddd;
  }
  
textarea{
  width:97%;
  height:200px;
  margin:0 0 20px 0;
  border:1px solid #ccc;
  padding:5px;
  font-family:inherit;
  font-size:0.9em;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:inset 0px 0px 6px #ccc;
  -webkit-box-shadow:inset 0px 1px 6px #ccc;
  box-shadow:inset 0px 1px 6px #ccc;
  overflow : auto; 
  vertical-align : top;
}

/* Colors for form validity */
input:valid, 
textarea:valid   {  
/* Styles */ }

input:invalid, 
textarea:invalid {
  -webkit-box-shadow : 0 0 2px #f00; 
  -moz-box-shadow : 0 0 2px #f00;
  box-shadow : 0 0 2px #f00; 
}

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {
background-color : #ccc; }


/*  CODE  ============================================================================= */

pre.code {
  padding: 0;
  margin: 0;
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 1.1em;
}

strong.code {
  font-weight: normal;
  font-family: monospace;
  font-size: 1.2em;
}


/*  EXAMPLE  ============================================================================= */

#example .col {
  background: #ccc;
  background: rgba(204, 204, 204, 0.85);

}

/*  NOTES  ============================================================================= */


.note {
  position:relative;
  padding:1em 1.5em;
  margin: 0 0 1em 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  overflow:hidden;
}

.note:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  border-width:0 16px 16px 0;
  border-style:solid;
  border-color:transparent transparent #cccccc #cccccc;
  background:#cccccc;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  display:block; width:0; /* Firefox 3.0 damage limitation */
}

.note.rounded {
  -webkit-border-radius:5px 0 5px 5px;
  -moz-border-radius:5px 0 5px 5px;
  border-radius:5px 0 5px 5px;
}

.note.rounded:before {
  border-width:8px;
  border-color:#ff #ff transparent transparent;
  background: url(/images/bodyback.png);
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius:0 0 0 5px;
  border-radius:0 0 0 5px;
}

/*  SCREENS  ============================================================================= */

.siteimage {
  max-width: 90%;
  padding: 5%;
  margin: 0 0 1em 0;
  background: transparent url(/images/stripe-bg.png);
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.siteimage:hover {
  background: #bbb url(/images/stripe-bg.png);
  position: relative;
  top: -2px;
  
}

/*  COLUMNS  ============================================================================= */

.twocolumns{
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
  }

/*  BUTTONS  ============================================================================= */


.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: .5em 1em;
  margin: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background: #cc1122 url(/images/glass.png) repeat-x 0 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family:  LeagueGothicRegular, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
  font-size : 1.5em; /* 24 / 16 */
        
}
.button:hover {
  background: #dd2233 url(/images/glass.png) repeat-x 0 50%;
  color: #fff;
  text-decoration: none;
}
.button:active {
  background: #dd2233 url(/images/glass.png) repeat-x 0 50%;
  color: #fff;
  position: relative;
  top: 1px;
}
.button:visited { 
  color : #fff;
}

/* VENDOR-SPECIFIC ============================================================================= */

html { 
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : rgb(52,158,219); 
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

.clearfix { 
zoom : 1; }

::-webkit-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::-moz-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
-webkit-appearance : button; }

::-webkit-input-placeholder {
font-size : .875em; 
line-height : 1.4; }

input:-moz-placeholder { 
font-size : .875em; 
line-height : 1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode : bicubic; }

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
-webkit-box-sizing : content-box;
-moz-box-sizing : content-box; }

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0; }

p {
/* http://www.w3.org/TR/css3-text/#hyphenation */
-webkit-hyphens : auto;
-webkit-hyphenate-character : "\2010";
-webkit-hyphenate-limit-after : 1;
-webkit-hyphenate-limit-before : 3;
-moz-hyphens : auto; }
