@import 'base';
@import 'components/shared/smoking-theme';
@import 'components/header';
@import 'components/footer';
@import 'components/team';
@import 'components/modals';
@import 'components/shared/fonts';
@import 'components/typography';
@import 'components/blood-drops';
@import 'components/video-player';
@import 'components/bookengine';

body {
    background-image: url('../content/backgrounds/cloth_alike_background.png'); 
    color: black;   
}

@media all and (max-width: 767px) {
    body { background-size: 10%; }
}
@media all and (min-width: 768px) and (max-width: 979px) {
    body { background-size: 10%; }
}
@media all and (min-width: 980px) and (max-width: 1199px) {
    body { background-size: 7%; }
}
@media all and (min-width: 1200px) {
    body { background-size: 4%; }
}

hr {
    background: $color-smoking-gray;
    height: 1px !important;
    @include opacity(.6);
    margin-top: 0 !important;
    @include box-shadow(0 4px 10px 1px $color-smoking-smoke);
}

a {
    text-decoration: none !important;
    box-sizing: border-box;
       
    .side-panel {
        text-decoration: none !important;
        
        h1, h2, h3, h4, p {
            text-decoration: none !important;
        }
    }  
}

.playback-browsers-info {
    position: relative; 
    background: $color-smoking-gray-light; 
    padding: 10px;
    margin: 10px auto;
    
    p.player-legend-title {
        text-align: center;
    }
    
    #browser-icons-container {
        margin: 0 auto; 
        max-width: 310px;
        width: 100%;
        
        img {
            margin: 5px;
            display: inline; 
            width: 64px; 
            height: 64px;
            @include transition-duration(.3s);
            
            &:hover {
                @include transform(scale(1.4));   
            }    
        }
    } 
}

div.btn-container {
    text-align: center;
    
    &> button.btn,
    & button.btn {
        margin: 10px auto !important;
        text-decoration: none !important;
        @include text-shadow(none);
        @include border-radius(0);
        border: none !important;
        background: $color-smoking-smoke-dark !important;
        @include transition-duration(.5s);
        
        &:hover,
        &:active {
            background: $color-smoking-bloody-dark !important;
        }
    } 
}

#browser-not-supported {
    display: none;
}

#film-anchor {
    .row {
        margin: 10px auto;
        
        p {
            margin: 0;
            padding: 0;
        }
    }
}

#control-icons-container {    
    .control-icon {
        margin: 0;       
        vertical-align: middle;
    }
    
    .media:last-child,
    .media,
    .control-icon {
        margin-top: 0 !important;
    }

    .bloody-area {
        background-color: $color-smoking-bloody; 
        width: 32px; 
        height: 32px;
        margin: 2px;
        display: inline-block;
    }
    
    .bloody-area-circle {
        @include border-radius(50%);
    }
}

.media-left img.media-object {
    width: 32px; 
    height: 32px;
    max-width: none !important;
}

#screenplay-features {
    margin-top: 20px;
}

.screenplay-icon-container {
    margin: 20px auto 30px auto;
}

.screenplay-icon span {
    font-size: 5em;
    color: #9f0000;
    margin-right: 8px;
}

.deligic-feature-container {
    margin-bottom: 20px;
    
    img {
        width: 23%;
        margin: auto .5%;
        padding: 0;
    }  
} 

.side-panel {
    background: $color-smoking-gray;
    border: none !important;
    @include border-radius(0);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    @include transition-duration(.8s);
    @include box-shadow(0 5px 20px 1px $color-smoking-smoke);
    
    color: $color-smoking-black;
    text-decoration: none !important;
    word-wrap: break-word;
       
    h1, h2, h3, h4 {
        color: $color-smoking-black !important;
        text-decoration: none !important;
        margin-top: 0;
    }
    
    p {
        text-align: left !important;
        text-decoration: none !important;
    }
    
    .side-panel-image {
        margin-bottom: 5px;
        @include filter(saturate(0%));
        @include transition-duration(.8s);
        margin: 0 auto 10px auto;
        display: block;
        width: 100%; 
    }
    
    .btn-container button.btn {
        width: 100%;
    }
    
    &:hover {
        background: $color-smoking-gray-light;
                
        h1, h2, h3, h4, p {
            color: $color-smoking-black;
            text-decoration: none !important;
        }
        
        .side-panel-image {
            @include filter(saturate(100%));
        }
        
        .btn-container button.btn {           
            background: $color-smoking-bloody-dark !important;
        }
    }

}

@media all and (max-width: 979px) {
    .side-panel {
        padding: 20px;
    }
}

@media all and (max-width: 767px) {
    .side-panel-image {
        max-width: 400px;
        margin: 10px auto 20px auto;
        outline: 2px solid black;
    }
}

.smoke-image-container {
    width: 100%; 
    position: absolute; 
    top: 5em; 
    z-index: 0; 
    opacity: .31;
}

nav.fixed-menu {
    position: fixed;
    top: 30px;
    left: 60px;
    display: none;
}

#iFrameResizer0,
#iFrameResizer1 {
    width: 100% !important;
}

@media all and (max-width: 767px) {
    section { margin-bottom: 30px; }
}
@media all and (min-width: 768px) and (max-width: 979px) {
    section { margin-bottom: 40px; }
}
@media all and (min-width: 980px) and (max-width: 1199px) {
    section { margin-bottom: 50px; }
}
@media all and (min-width: 1200px) {
    section { margin-bottom: 60px; }
}

#share-links-container {
    display: table; 
    margin: 0 auto;
    
    div {
        a, span {
            @include filter(saturate(0%));
            
            &:hover {
                @include filter(saturate(100%));
            }
        }
    }  
}

@media all and (max-width: 767px) {
    #share-links-container div {
        a, span {
            max-width: 48px !important;
            max-height: 48px !important;
            width: 48px !important;
            height: 48px !important;
        }
         
        span {
            line-height: 48px !important;
            background-size: 48px !important;
        }
    } 
}

@media all and (min-width: 768px) and (max-width: 979px) {
    #share-links-container div {
        a, span {
            max-width: 64px !important;
            max-height: 64px !important;
            width: 64px !important;
            height: 64px !important;
        }
         
        span {
            line-height: 64px !important;
            background-size: 64px !important;
        }
    } 
}

@media all and (min-width: 980px) and (max-width: 1199px) {
    #share-links-container div {
        a, span {
            max-width: 96px !important;
            max-height: 96px !important;
            width: 96px !important;
            height: 96px !important;
        }
         
        span {
            line-height: 96px !important;
            background-size: 96px !important;
        }
    } 
}

@media all and (min-width: 1200px) {
    #share-links-container div {
        a, span {
            max-width: 128px !important;
            max-height: 128px !important;
            width: 128px !important;
            height: 128px !important;
        }
         
        span {
            line-height: 128px !important;
            background-size: 128px !important;
        }
    } 
}

#video-examples-subsection {
    margin: 20px auto 60px auto;
    figure { position: relative; }  
} 

section#section-interactive,
section#section-king {
    figure {
       z-index: 10;
       position: relative;
    }
    
    figure img {
        display: block; 
        margin: 20px auto;
        @include box-shadow(0 5px 20px 1px $color-smoking-smoke-dark);
        @include filter(saturate(0%));
        @include transition-duration(.4s);        
                
        &:hover {
            @include filter(saturate(100%));
        }
    }
}

@media all and (min-width: 768px) {
    section#section-interactive,
    section#section-king {
        figure img:hover { @include transform(scale(1.1)); }       
    }
}

#section-services, 
#section-team {  
  div { 
  }
  
  img {
    margin: 0 auto;
    display: block; 
  }
}

#section-production .image-box {
    position: relative;
    margin-bottom: 30px;
    
    img {
        background: red;
        box-sizing: border-box;
        border: 5px solid $color-smoking-white;
        display: block; 
        cursor: pointer; 
        position: relative;      
        
        @include transform(scale(1));       
        @include filter(saturate(40%));
        @include transition-duration(.4s);
        @include box-shadow(4px 4px 12px -3px black);
        
        &:hover {
            z-index: 100;   
            @include filter(saturate(110%));         
        }
    }
} 

#section-production {
    $n: 10;
    @for $i from 0 through $n {
        .image-rotate-#{$i}:hover {
            @include transform(rotate(-5 + $i + deg) scale(1.25));
        }
    }  
}

#section-contact {
  text-align: center;
  
  #social-box {
    width: 80%;
    display: block;
    margin: 0 auto;
    
    img {
      max-width: 128px;
      width: 100%;
    }
  }
}

#deligic-features {
    margin-top: 3em;
    
    .feature-icons-container {
        margin-bottom: 10px;
    }
}

.screenplay-icon-container,
.deligic-feature-container {
    h3 {
        margin-top: 0 !important;
        line-height: 1.1em !important;
    }
}

.deligic-feature-container {
    border-top: 1em solid $color-smoking-bloody;
    margin: 1em auto 2em auto;
    padding-top: 1em;
    box-sizing: border-box;
}
