@import 'base';
@import 'components/shared/smoking-theme';

body {
  font-family: 'Source Sans Pro', 'Century Gothic', verdana, arial, helvetica, helve, sans-serif;
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  color: $color-smoking-smoke-dark;
}

.btn {
    font-family: "Century Gothic", "Futura Light", "Code", 'Tinos', 'Source Sans Pro', 'Radley', serif;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    color: white;
    background-color: #8c0000;
    border-color: #505050;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;

    -webkit-transition-property: border-color, background-color; /* Safari */
    transition-property:  border-color, background-color;
  
    &:hover {
      background-color: #9f0000;
      border-color: #a0a0a0;
    }
}

a {
    color: gray;
      
    &:visited {
        color: gray;
    }
    
    &:hover {
        color: #9f0000;
        text-decoration: none;
    }
    
    &:active {
        color: #9f0000;
    }
    
    &:focus {
        color: #9f0000;
    }
}

.modal-content {
    background-color: #f0f0f0;
}

.container-fluid, 
.navbar-inverse {
    background-color: #8f0000;
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    background-color: #9c0000;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav >.open > a:focus {
    color: white;
    background-color: #9c0000;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    background-color: #8c0000;
}

