/* cross-browser css3 schemes */
/* colors palette */
/* main colors palette for whole page */
/* Includes backgrounds from sprite with position defined as percentage, not pixels.
   Next Compass release after 0.12.2 probably is going to have this feature built in. */
/* minimal content width */
/* when page elements go to full-width mode */
/* constant content width for medium screens */
/* constant content width for larger screens */
/* minimum space for 360p video size */
/* minimum space for 480p video size */
/* minimum space for 540p video size */
/* minimum space for 720p video size */
/* minimum space for 900p video size */
/* line 280, icons/Smoking/*.png */
.Smoking-sprite, .ivi_play_btn, .ivi_play_btn:hover, .ivi_play_btn.ui-disabled, .ivi_pause_btn, .ivi_pause_btn:hover, .ivi_pause_btn.ui-disabled, .ivi_hd_btn, .ivi_hd_btn:hover, .ivi_hd_btn.ui-disabled, .ivi_sd_btn, .ivi_sd_btn:hover, .ivi_sd_btn.ui-disabled, .ivi_subtitles_btn, .ivi_subtitles_btn:hover, .ivi_volume_btn, .ivi_volume_btn:hover, .ivi_unmute_btn, .ivi_unmute_btn:hover, .ivi_fullscreen_btn, .ivi_fullscreen_btn:hover, .ivi_fullscreen_btn.ui-disabled, .fullscreen .ivi_fullscreen_btn, .fullscreen .ivi_fullscreen_btn:hover, .fullscreen .ivi_fullscreen_btn.ui-disabled, .ivi_move_back_btn, .ivi_move_back_btn:hover, .ivi_move_back_btn.ui-disabled, .ivi_move_forward_btn, .ivi_move_forward_btn:hover, .ivi_move_forward_btn.ui-disabled {
  background-image: url('icons/Smoking-s57d5aee1d7.png');
  background-repeat: no-repeat;
}

/*** VIDEO AREA ***/
/* line 15, sass/smoking_player.scss */
.ivi_player_visual_area {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 20, sass/smoking_player.scss */
.ivi_mask_loading {
  display: none;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 38, sass/smoking_player.scss */
.ivi_play_btn {
  background-position: 0 -3392px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_play_btn:hover, .ivi_play_btn.play_32-hover {
  background-position: 0 -3424px;
}
/* line 29, sass/smoking_player.scss */
.ivi_play_btn:hover {
  background-position: 0 -3424px;
}
/* line 33, sass/smoking_player.scss */
.ivi_play_btn.ui-disabled {
  background-position: 0 -3392px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_play_btn.ui-disabled:hover, .ivi_play_btn.ui-disabled.play_32-hover {
  background-position: 0 -3424px;
}

/* line 42, sass/smoking_player.scss */
.ivi_pause_btn {
  background-position: 0 -3328px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_pause_btn:hover, .ivi_pause_btn.pause_32-hover {
  background-position: 0 -3360px;
}
/* line 29, sass/smoking_player.scss */
.ivi_pause_btn:hover {
  background-position: 0 -3360px;
}
/* line 33, sass/smoking_player.scss */
.ivi_pause_btn.ui-disabled {
  background-position: 0 -3328px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_pause_btn.ui-disabled:hover, .ivi_pause_btn.ui-disabled.pause_32-hover {
  background-position: 0 -3360px;
}

/* line 46, sass/smoking_player.scss */
.ivi_hd_btn {
  background-position: 0 -3264px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_hd_btn:hover, .ivi_hd_btn.hd_32-hover {
  background-position: 0 -3296px;
}
/* line 29, sass/smoking_player.scss */
.ivi_hd_btn:hover {
  background-position: 0 -3296px;
}
/* line 33, sass/smoking_player.scss */
.ivi_hd_btn.ui-disabled {
  background-position: 0 -3264px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_hd_btn.ui-disabled:hover, .ivi_hd_btn.ui-disabled.hd_32-hover {
  background-position: 0 -3296px;
}

/* line 50, sass/smoking_player.scss */
.ivi_sd_btn {
  background-position: 0 -4480px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_sd_btn:hover, .ivi_sd_btn.sd_32-hover {
  background-position: 0 -4512px;
}
/* line 29, sass/smoking_player.scss */
.ivi_sd_btn:hover {
  background-position: 0 -4512px;
}
/* line 33, sass/smoking_player.scss */
.ivi_sd_btn.ui-disabled {
  background-position: 0 -4480px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_sd_btn.ui-disabled:hover, .ivi_sd_btn.ui-disabled.sd_32-hover {
  background-position: 0 -4512px;
}

/* line 54, sass/smoking_player.scss */
.ivi_subtitles_btn {
  background-position: 0 -4736px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_subtitles_btn:hover, .ivi_subtitles_btn.subtitles_32-hover {
  background-position: 0 -4768px;
}
/* line 58, sass/smoking_player.scss */
.ivi_subtitles_btn:hover {
  background-position: 0 -4768px;
}

/* line 63, sass/smoking_player.scss */
.ivi_voting_btn {
  display: none;
}

/* line 67, sass/smoking_player.scss */
.ivi_volume_btn {
  background-position: 0 -4672px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_volume_btn:hover, .ivi_volume_btn.sound_volume_32-hover {
  background-position: 0 -4704px;
}
/* line 70, sass/smoking_player.scss */
.ivi_volume_btn:hover {
  background-position: 0 -4704px;
}

/* line 75, sass/smoking_player.scss */
.ivi_unmute_btn {
  background-position: 0 -4608px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_unmute_btn:hover, .ivi_unmute_btn.sound_mute_32-hover {
  background-position: 0 -4640px;
}
/* line 78, sass/smoking_player.scss */
.ivi_unmute_btn:hover {
  background-position: 0 -4640px;
}

/* line 83, sass/smoking_player.scss */
.ivi_fullscreen_btn {
  background-position: 0 -2176px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_fullscreen_btn:hover, .ivi_fullscreen_btn.fullscreen_32-hover {
  background-position: 0 -2208px;
}
/* line 29, sass/smoking_player.scss */
.ivi_fullscreen_btn:hover {
  background-position: 0 -2208px;
}
/* line 33, sass/smoking_player.scss */
.ivi_fullscreen_btn.ui-disabled {
  background-position: 0 -2176px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_fullscreen_btn.ui-disabled:hover, .ivi_fullscreen_btn.ui-disabled.fullscreen_32-hover {
  background-position: 0 -2208px;
}

/* line 87, sass/smoking_player.scss */
.fullscreen .ivi_fullscreen_btn {
  background-position: 0 -4544px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.fullscreen .ivi_fullscreen_btn:hover, .fullscreen .ivi_fullscreen_btn.smallscreen_32-hover {
  background-position: 0 -4576px;
}
/* line 29, sass/smoking_player.scss */
.fullscreen .ivi_fullscreen_btn:hover {
  background-position: 0 -4576px;
}
/* line 33, sass/smoking_player.scss */
.fullscreen .ivi_fullscreen_btn.ui-disabled {
  background-position: 0 -4544px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.fullscreen .ivi_fullscreen_btn.ui-disabled:hover, .fullscreen .ivi_fullscreen_btn.ui-disabled.smallscreen_32-hover {
  background-position: 0 -4576px;
}

/* line 91, sass/smoking_player.scss */
.ivi_move_back_btn {
  background-position: 0 0;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_move_back_btn:hover, .ivi_move_back_btn.backward_32-hover {
  background-position: 0 -32px;
}
/* line 29, sass/smoking_player.scss */
.ivi_move_back_btn:hover {
  background-position: 0 -32px;
}
/* line 33, sass/smoking_player.scss */
.ivi_move_back_btn.ui-disabled {
  background-position: 0 0;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_move_back_btn.ui-disabled:hover, .ivi_move_back_btn.ui-disabled.backward_32-hover {
  background-position: 0 -32px;
}

/* line 95, sass/smoking_player.scss */
.ivi_move_forward_btn {
  background-position: 0 -1088px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_move_forward_btn:hover, .ivi_move_forward_btn.forward_32-hover {
  background-position: 0 -1120px;
}
/* line 29, sass/smoking_player.scss */
.ivi_move_forward_btn:hover {
  background-position: 0 -1120px;
}
/* line 33, sass/smoking_player.scss */
.ivi_move_forward_btn.ui-disabled {
  background-position: 0 -1088px;
}
/* line 59, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.ivi_move_forward_btn.ui-disabled:hover, .ivi_move_forward_btn.ui-disabled.forward_32-hover {
  background-position: 0 -1120px;
}

/* line 99, sass/smoking_player.scss */
div.ivi_volume_enabled:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 103, sass/smoking_player.scss */
.loadmask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 107, sass/smoking_player.scss */
.loadmask.ivi_finished,
.loadmask.ivi_paused,
.loadmask.ivi_waiting {
  background: black;
}
/* line 112, sass/smoking_player.scss */
.loadmask.ivi_finished:hover,
.loadmask.ivi_paused:hover,
.loadmask.ivi_waiting:hover {
  background: black;
}

/* line 117, sass/smoking_player.scss */
.loadmask.ivi_finished:after {
  background: none;
}

/* line 121, sass/smoking_player.scss */
.loadmask.ivi_paused:after {
  background: none;
}

/* line 125, sass/smoking_player.scss */
.loadmask .ivi_paused {
  background: white !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 130, sass/smoking_player.scss */
.ivi_control_pane,
.ivi_options_pane {
  background: white !important;
}

/* line 135, sass/smoking_player.scss */
.ivi_title_placeholder p {
  color: black !important;
}

/* line 139, sass/smoking_player.scss */
div.ivi_progress_bar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  margin: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 145, sass/smoking_player.scss */
div.ivi_progress_bar:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 152, sass/smoking_player.scss */
.fullscreen .ivi_controls_background,
.embedded .ivi_controls_background {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

/* line 157, sass/smoking_player.scss */
.ui-slider-range {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 162, sass/smoking_player.scss */
.ivi_slider {
  background: black;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 167, sass/smoking_player.scss */
.ivi_slider:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 174, sass/smoking_player.scss */
.ivi_slider .ui-slider-range {
  background: #a0a0a0;
}
/* line 178, sass/smoking_player.scss */
.ivi_slider:hover .ui-slider-range {
  background: #9f0000;
}

/* line 183, sass/smoking_player.scss */
.ivi_poster_layer {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 189, sass/smoking_player.scss */
.ivi_poster_layer .ivi_start_button {
  width: 15%;
  height: 26.667%;
  position: absolute;
  display: inline;
  background-size: cover;
  cursor: pointer;
}
/* line 198, sass/smoking_player.scss */
.ivi_poster_layer .ivi_start_smallscreen {
  top: -63.333%;
  left: 25%;
  background-size: 100%;
  background-position: 0 80.55%;
  background-image: url("icons/Smoking-s57d5aee1d7.png");
  background-repeat: no-repeat;
}
/* line 206, sass/smoking_player.scss */
.ivi_poster_layer .ivi_start_smallscreen:hover {
  background-position: 0 92.55%;
}
/* line 211, sass/smoking_player.scss */
.ivi_poster_layer .ivi_start_fullscreen {
  top: -63.333%;
  right: 25%;
  background-position: 0 52.25%;
  background-image: url("icons/Smoking-s57d5aee1d7.png");
  background-repeat: no-repeat;
}
/* line 218, sass/smoking_player.scss */
.ivi_poster_layer .ivi_start_fullscreen:hover {
  background-position: 0 64.15%;
}

/* line 225, sass/smoking_player.scss */
div.action_button:hover {
  color: #9f0000 !important;
}
/* line 229, sass/smoking_player.scss */
div.action_button.highlighted, div.action_button.highlighted_by_animation {
  color: #9f0000 !important;
}
