// CSS Raindrops by Lucas Bebber
@import "compass/css3";
@import "compass/css3";

/*
$width: 100%;
$height: 100%;
$raindrops: 250;
$bloody-background: '../content/backgrounds/blood_splatter_brush_by_davebold370.jpg';
 
a {
    color:inherit;
}
.maincontentcontainer2 {
    width: $width;
    height: $height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    transform: rotateY(0);
}

.blood-drops {
    width: $width;
    height: $height;
    //background: transparentize(white,0.9);
    position: absolute;
    top: 0;
    left: 0;
    @include transform(rotateY(0)); 
    transition: -webkit-filter 600ms;
    z-index: -1;
    overflow: hidden;
}

@media handheld {
    .blood-drops {
        display: none;
    }
}

@media all and (max-width: 720px) {
    .blood-drops {
        display: none;
    }
}

@media all and (orientation: portrait) {
    .blood-drops {
        display: none;
    }
}

@keyframes raindrop-fall {
  0% {
    @include opacity(0);
    transform:rotate(180deg) scale(2.5,2.3) rotateY(0);
  }
  100% {
    @include opacity(.9);
    transform:rotate(180deg) scale(1,1) rotateY(0); 
  }
}

$raindrop-fall-transition:400ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

.drop {
    background: transparent;
    background-image: url($bloody-background);
    background-size: 1000%; 
    position: absolute;
    border-radius: 100%;
    transform: rotate(180deg) rotateY(0);
    transition: background-size 1s;
    @include opacity(0);
    animation:raindrop-fall $raindrop-fall-transition;
    animation-fill-mode:forwards;
    @include filter(blur(.5px));
  
    &:hover {
      background-size: 600%;
    }
}

@for $i from 1 through $raindrops+1 {
    $x: random();
    $y: random();
    $size: 6+random(25); 
    $stretch: random(30)/100;
    $drop-height: $size*(1+$stretch);
    $delay: (random())*600s;
    .drop:nth-child(#{$i}) {
        left: $x*$width;
        top: $y*$height;
        width: $size+px;
        height: $drop-height+px;
        background-position: #{($x*100)+"%"} #{($y*100)+"%"}; 
        animation-delay: $delay; 
        @include transition(300ms);
    }
}*/