@import 'base';
@import 'components/shared/smoking-theme';

footer {
    padding: 20px 30px;
    background: black;
    color: white;
    font-size: 1em;
    @include font-normal();
}

#website-credits {
    margin-bottom: 20px;   
}

@media all and (min-width: 980px) {
    .redirect-link-container,
    .redirect-link {
        float: right;
    }
}

.redirect-link-container {
    margin: 0px auto;
    
    .redirect-link {
        position: relative;
        display: inline-block;
        margin: 10px;
    }
}

.redirect-icon-container {
    background: $color-smoking-white; 
    @include transition-duration(.5s);
    
    img {
        @include transition-duration(.5s);
    }
}
    
.redirect-icon-container,
.redirect-icon-hover {
    display: inline-block; 
    width: 128px; 
    height: 128px;
} 
    
.redirect-icon-hover {
    z-index: 100;
    position: absolute;
    
    &:hover+.redirect-icon-container {
        background: $color-smoking-bloody;
        
        img {
           @include transform(scale(1.2)); 
        }
        
    }
}

.credits-box {
    margin-bottom: 10px;
}

