@import 'base';
@import 'components/shared/smoking-theme';

.page-container {
    background-size: cover;
}

.page-header-image {
    background-size: cover; 
    position: absolute; 
    width: 100%; 
    height: 100%;
}

.page-header-container {
    position: relative; 
    min-height: 600px;
    @include box-shadow(0 10px 30px 1px $color-smoking-smoke);
    
    .page-header-image {
         width: 100%; 
         height: 640px; 
         margin-bottom: 2%; 
         z-index: -1; 
         position: relative;
    }
}

@media all and (max-width: 767px) {
    .page-header-container { margin-bottom: 10px; }
}
@media all and (min-width: 768px) and (max-width: 979px) {
    .page-header-container { margin-bottom: 20px; }
}
@media all and (min-width: 980px) and (max-width: 1199px) {
    .page-header-container { margin-bottom: 30px; }
}
@media all and (min-width: 1200px) {
    .page-header-container { margin-bottom: 40px; }
}

#language-container {
    margin: 5px 10px; 
    display: inline-block; 
    position: absolute; 
    right: 0; 
    top: 0; 
    z-index:100;
    
    a {
        display: inline-block;
    }
}

#film-page {
    background: url('content/backgrounds/smoking_poster_en.jpg');
}
#makingof-page {
    background: url('content/backgrounds/2.jpg');
}
#technology-page {
    background: url('content/backgrounds/3.jpg');
}

.cta-button-container {
    display: block; 
    position: absolute;
    margin: 0 auto;
    z-index: 100;
    bottom: 20%;
    left: 0%;
    width: 80%;
    margin: 0 10%;
    height: 11em;
    
    .btn-main-cta {
        position: relative;
    }
    
    .btn-main-cta,
    .btn-background {
        height: 100%;
        left: 0%;
        font-size: 1.1em;
    }
}

.nav-button-container {
    width: 100%;   
    position: relative;
    height: 9em;
    
    .nav-button {
        height: 100%;    
    }
}


@media all and (max-width: 479px) {
    .cta-button-container {
        left: 0%;
        width: 100%;
        margin: 0 0%;
        height: 8.5em;
        
        .btn-main-cta {
            position: relative;
        }
        
        .btn-main-cta,
        .btn-background {
            left: 0%;
            font-size: 1.6em;
        }
        
        .nav-button .nav-button-text {
            padding: 0 0 1.4em 0 !important;
        } 
    }
}

@media all and (min-width: 480px) and (max-width: 767px) {
    .cta-button-container {
        left: 0%;
        width: 90%;
        margin: 0 5%;
        height: 8.5em;
        
        .btn-main-cta {
            position: relative;
        }
        
        .btn-main-cta,
        .btn-background {
            left: 0%;
            font-size: 2.35em;
        }
        
        .nav-button .nav-button-text {
            padding: 0 0 1.4em 0 !important;
        } 
    }
}

@media all and (min-width: 768px) and (max-width: 979px) {
    .cta-button-container {
        left: 50%;
        height: 8.5em;
        width: 50%;
        margin: 0 !important;
        
        .btn-main-cta,
        .btn-background {
            left: -50%;
            font-size: 2.35em;
        }
        
        .nav-button-text {
            font-size: .95em;
        }
        
        .nav-button .nav-button-text {
            padding: 0 0 1.4em 0 !important;
        } 
    }
    
    .nav-button-container {       
        .nav-button {
                      
            .nav-button-icon {
                color: white !important;
                width: 3em; 
                height: 3em;
                margin: .25em auto .5em auto !important;
                display: block;
                font-size: 1.1em;
            }
            
            .nav-button-text {
                font-size: .95em;
            }
        }
    }
}

@media all and (min-width: 980px) {
    .cta-button-container {
        left: 50%;
        height: 9.5em;
        width: 50%;
        margin: 0 !important;
        
        .btn-main-cta,
        .btn-background {
            left: -50%;
            font-size: 3em;
        }
        
        .nav-button-text {
            font-size: .95em;
        }
        
        .nav-button .nav-button-text {
            padding: 0 0 1.4em 0 !important;
        } 
    }
    
    .nav-button-container {
        width: 100%;   
        position: relative;
        
        .nav-button-icon {
            font-size: 1.1em;
        }
        
        .nav-button-text {
            font-size: 1.1em;
        }
    }
}

.cta-button-container,
.nav-button-container {
    &:hover {
        .nav-button {
            color: $color-smoking-white !important;
        }
        
        .btn-background {            
            @include filter(saturation, 180%);
        }
    }
    
    a {
        text-decoration: none;
    }
}

.nav-button,
.btn-background {
    @include border-radius(10px);
    @include transition-duration(.8s);
}

.btn-default {
    text-decoration: none !important;
}

#nav-menu {
    width: 100%;
    margin: 50px 0 50px 0;
}

.nav-button {    
    display: inline-block;    
    background: transparent !important;
    color: $color-smoking-white !important;
    font-weight: 900 !important;
    border: 4px solid black !important;
    @include font-normal();
    width: 100%;
    margin: 0 auto; 
    @include user-select(none);
    text-decoration: none !important;
    @include text-shadow(none);    
    z-index: 1;
    position: relative;  
    @include box-shadow(0 0 30px 1px $color-smoking-smoke);     
    @include transition-duration(.8s);
    
    .nav-button-icon {
        color: white !important;
        width: 2em; 
        height: 2em;
        margin-right: 10px !important;
        margin-top: 10px;
        cursor: pointer;       
    }
    
    .nav-button-text {
        @include inline-block(middle);
        line-height: 1em;
        padding: 0 0 25px 0;
        cursor: pointer;
    }   
}

.btn-background {
    background: url('../content/images/red_blood_texture_by_josefinetwilight.jpg');
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    @include filter(saturation, 0%);  
    background-size: cover;
}

