@import 'base';
@import 'components/shared/smoking-theme';

.modal-dialog {
    width: 100%;
    max-width: 1024px;
}

@media all and (max-width: 767px) {
  .modal-dialog {
      width: 480px !important;
      margin: 30px auto !important;
    }
}

@media all and (min-width: 768px) and (max-width: 979px) {
    .modal-dialog {
        width: 720px !important;
        margin: 30px auto !important;
    }
}

@media all and (min-width: 980px) {
    .modal-dialog {
        width: 960px !important;
        margin: 30px auto !important;
    }
}

.modal-title {
    font-size: 2em;
    text-align: center;
    color: $color-smoking-bloody;
}

.modal-body,
.modal-header,
.modal-footer {
    background-color: rgb(40, 40, 40) !important;
    border: none !important;
}

#imagepreview {
    border: 5px solid white;
    box-sizing: border-box;
}

.modal-button-container {
    width: 100;
    position: relative;
    margin-bottom: 10px;
    
    .btn-close {
        font-size: 1.5em;
        line-height: 2em;
        display: block;
        margin: 0 auto;
        min-width: 200px;
        color: $color-smoking-white;
        background: $color-smoking-smoke-dark;
        border: none !important;
        box-sizing: border-box;
        text-decoration: none !important;
        @include user-select(none);
        @include transition-duration(.8s);
        @include text-shadow(none);
        
        &:hover {
            background: $color-smoking-bloody;
            color: $color-smoking-white;
        }
        
        &:active {
            background: $color-smoking-bloody;
            color: $color-smoking-white;
        }
    }
}