@import 'base';
@import 'components/shared/smoking-theme';

#section-team {
  img { 
    width: 70%; 
    border-radius: 50%;
    display: block;
  }
}

.highlight-on {
  z-index: 5;
}

.highlight-off {
  @include transition-duration(0.5s);
  z-index: 10;
}

.team-member {
  text-align: justify;
  
  h1, h2, h3, h4 {
      text-align: center;
  }
  
  @include transition-duration(1s);
  
  img {
    border: 2px solid rgb(50, 50, 70);  
    @include transition-duration(1s);
    
    &:hover {
      border: 2px solid $color-smoking-bloody;
    }
  }
}

.cover-box {
  position: relative; 
  
  .content {
    z-index: 1;
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
  }
  
  .cover {
    z-index: 2;
    position: relative;
    width: 100%;
  }
}