@import 'base';
@import 'shared/smoking-theme';
@import 'shared/fonts';

h1, h2, h3 {    
    color: $color-smoking-bloody !important;
}

h1, h2, h3, h4 {
    @include font-header();
    line-height: 1.2em !important;
}

h1 { 
    margin-top: .25em !important;
    margin-bottom: .75 !important;
    font-weight: 900;
}

h2 {
    margin-top: .5em !important;
    margin-bottom: .5 !important;
    font-weight: 600;
}

h3 {
    margin-bottom: .5em;
    font-weight: 400;
}

h4 {
    margin-bottom: .5em;
    font-weight: 400;
}

span, p {
    @include font-normal();
    line-height: 1.6em;
    text-align: justify;
    text-justify: inter-word;
}

p.handwritten, 
span.handwritten {
    @include font-handwritten();    
    font-weight: 500;
    color: $color-smoking-smoke-dark;
    margin-bottom: 20px;
    padding: 0;
}

span.bloody-text {
    @include font-handwritten(); 
    color: $color-smoking-bloody !important;    
    font-weight: 600;
}

.big-text {
    font-size: 2em;
}

@media all and (max-width: 767px) {
    h1 { font-size: 3.8em !important; }
    h2 { font-size: 3em !important; }
    h3 { font-size: 2.7em !important; }
    h4 { font-size: 1.6em !important; }
    span, p { font-size: 1em; }
    .big-text { font-size: 1.5em; }
    .big-text.handwritten { font-size: 1.3em; }
    p.handwritten, span.handwritten { font-size: 1.6em; }
    .side-panel p { font-size: .9em; }
}
@media all and (min-width: 768px) and (max-width: 979px) {
    h1 { font-size: 5.5em !important; }
    h2 { font-size: 3.5em !important; }
    h3 { font-size: 2.7em !important; }
    h4 { font-size: 1.6em !important; }
    span, p { font-size: 1em; }
    .big-text { font-size: 1.3em; }
    .big-text.handwritten { font-size: 1.8em; }
    p.handwritten, span.handwritten { font-size: 1.6em; }
    .side-panel p { font-size: 1em; }
}
@media all and (min-width: 980px) and (max-width: 1199px) {
    h1 { font-size: 5.5em !important; }
    h2 { font-size: 3.5em !important; }
    h3 { font-size: 2.7em !important; }
    h4 { font-size: 1.6em !important; }
    span, p { font-size: 1.1em; }
    .big-text { font-size: 1.4em; }
    .big-text.handwritten { font-size: 2em; }
    p.handwritten, span.handwritten { font-size: 1.6em; }
    .side-panel p { font-size: 1em; }
}
@media all and (min-width: 1200px) {
    h1 { font-size: 5.5em !important; }
    h2 { font-size: 3.5em !important; }
    h3 { font-size: 2.7em !important; }
    h4 { font-size: 1.6em !important; }
    span, p { font-size: 1.1em; }
    .big-text { font-size: 1.5em; }
    .big-text.handwritten { font-size: 2.2em; }
    p.handwritten, span.handwritten { font-size: 1.6em; }
    .side-panel p { font-size: 1.1em; }
}