.player-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: black;
    margin-bottom: 10px;
}

.player-container:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.player-container iframe {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; 
}