
    <div class="side-panel">
        <h4><?php $c->write('gamebook.title'); ?></h4>
        <a href="<?php $c->write('gamebook.url'); ?>" target="_blank">
            <figure>
                <img class="side-panel-image" src="content/images/bookengine.jpg" alt="<?php $c->write('gamebook.title'); ?>">
            </figure>
        </a>
        <p><?php $c->write('gamebook.desc'); ?></p>
        <div class="btn-container">
            <a href="<?php $c->write('gamebook.url'); ?>" target="_blank">
                <button class="btn btn-primary btn-lg">
                    <?php $c->write('buttons.more'); ?>
                </button>
            </a>
        </div>                          
    </div>
