<div class="side-panel">
    <h4><?php $c->write('deligic.title'); ?></h4>
    <a href="http://www.deligic.com/edit/8?command=based" target="_blank">
        <figure>
            <img class="side-panel-image" src="content/images/Deligic_logo_blue.jpg" alt="<?php $c->write('deligic.title'); ?>">
        </figure>
    </a>
    <p><?php $c->write('deligic.desc'); ?></p>
    <div class="btn-container">
        <a href="http://www.deligic.com/edit/8?command=based" target="_blank">
            <button class="btn btn-primary btn-lg">
                <?php $c->write('buttons.more'); ?>
            </button>
        </a>
    </div>   
</div>