<div class="side-panel">
    <h4><?php $c->write('fso.side.header'); ?></h4>
    <a href="http://news.filmspringopen.eu" target="_blank">
        <figure>
            <img class="side-panel-image" src="content/images/film-spring-open-logo.jpg" alt="<?php $c->write('fso.side.header'); ?>">
        </figure>
    </a>
    <p><?php $c->write('fso.side.content.1'); ?></p>
    <div class="btn-container">
        <a href="http://news.filmspringopen.eu" target="_blank">
            <button class="btn btn-primary btn-lg">
                <?php $c->write('buttons.more'); ?>
            </button>
        </a>
    </div>  
</div>