<div class="side-panel">
    <h4><?php $c->write('gdi.side.header'); ?></h4>
    <a href="https://www.facebook.com/groups/587917717987306/" target="_blank">
        <figure>
            <img class="side-panel-image" src="content/images/gdi-image-min.jpg" alt="<?php $c->write('gdi.side.header'); ?>">
        </figure>
    </a>
    <p><?php $c->write('gdi.side.content'); ?></p>
    <div class="btn-container">
        <a href="https://www.facebook.com/groups/587917717987306/" target="_blank">
            <button class="btn btn-primary btn-lg">
                <?php $c->write('buttons.more'); ?>
            </button>
        </a>
    </div>  
</div>
