<div class="side-panel">
    <h4><?php $c->write('inventcore.title'); ?></h4>
    <a href="<?php $c->write('inventcore.url'); ?>" target="_blank">
        <figure>
            <img class="side-panel-image" src="content/images/inventcore_google.jpg" style="box-sizing: border-box; border: 8px solid white;" alt="<?php $c->write('inventcore.title'); ?>">
        </figure>
    </a>
    <p><?php $c->write('inventcore.desc'); ?></p>
    <div class="btn-container">
        <a href="<?php $c->write('inventcore.url'); ?>" target="_blank">
            <button class="btn btn-primary btn-lg">
                <?php $c->write('buttons.more'); ?>
            </button>
        </a>
    </div>   
</div>