<div class="side-panel">
    <h4><?php $c->write('king.title'); ?></h4>
    <a href="<?php $c->write('king.url'); ?>" target="_blank">
        <figure>
            <img class="side-panel-image" src="content/images/03_site_logo.jpg" alt="<?php $c->write('king.title'); ?>">
        </figure>
    </a>
    <p><?php $c->write('king.desc'); ?></p>
    <div class="btn-container">
        <a href="<?php $c->write('king.url'); ?>" target="_blank">
            <button class="btn btn-primary btn-lg">
                <?php $c->write('buttons.more'); ?>
            </button>
        </a>
    </div>   
</div>