@font-face {
    font-family: 'MarckScript';
    src: url('fonts/MarckScript/MarckScript-Regular.eot'); /* for IE9 Compat Modes */
    src: url('fonts/MarckScript/MarckScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Regular.eot') ; /* for IE9 Compat Modes */
    src: url('fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('fonts/OpenSans/OpenSans-Italic.eot') ; /* for IE9 Compat Modes */
    src: url('fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
}

@mixin font-header() {   
    font-family: 'MarckScript', "Book Antiqua", Georgia, arial, serif !important;
}

@mixin font-normal() {    
    font-family: 'OpenSans', "Century Gothic", Garamond, arial, serif;
}

@mixin font-handwritten() {
    font-family: 'MarckScript', "Book Antiqua", Georgia, arial, serif;
}

@mixin font-shadow($shadow) {
     text-shadow: $shadow;
     -webkit-text-shadow: $shadow;
     -moz-text-shadow: $shadow;
     -ms-text-shadow: $shadow;
     -o-text-shadow: $shadow;
}

@mixin font-glow($size, $blur, $color) {
    @include text-shadow($size $size $blur $color, $size -1 * $size $blur $color, -1 * $size $size $blur $color, -1 * $size -1 * $size $blur $color);
}