$color-smoking-bloody: rgb(159, 0, 0);
$color-smoking-bloody-dark: rgb(140, 0, 0);
$color-smoking-black: black;
$color-smoking-gray: rgb(196, 196, 196);
$color-smoking-gray-light: rgb(220, 220, 220);
$color-smoking-smoke-light: rgb(200, 200, 200);
$color-smoking-smoke: rgb(160, 160, 160);
$color-smoking-smoke-dark: rgb(80, 80, 80);
$color-smoking-white: white;